<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.intelagr.mapper.BlackListMapper">
	<resultMap type="BlackList" id="blackListMapper">
		<id column="id" property="id" />
		<result column="companyCode" property="companyCode" />
		<result column="blackListCount" property="blackListCount" />
		<result column="blackListEndDate" property="blackListEndDate" />
		<result column="processor" property="processor" />
		<result column="settleDate" property="settleDate" />
		<result column="blackListTimeLimit" property="blackListTimeLimit" />
		<result column="blackListReason" property="blackListReason" />
		<result column="remark" property="remark"/>
		<result column="deleteFlag" property="deleteFlag"/>
		<result column="createUserId" property="createUserId"/>
		<result column="createDate" property="createDate"/>
		<result column="updateUserId" property="updateUserId"/>
		<result column="updateDate" property="updateDate"/>
	</resultMap>

	<insert id="insert" parameterType="BlackList">
		insert into b_blacklistmanageh
		values (default,#{companyCode},#{blackListCount},#{blackListEndDate},#{processor},#{settleDate},#{blackListTimeLimit},#{blackListReason}
		,#{remark},'N',#{createUserId},#{createDate},#{updateUserId},#{updateDate})
	</insert>
	<select id="selectById" resultMap="blackListMapper" parameterType="int">
		select * from b_blacklistmanageh
		<where>
			<if test="companyCode!=null and companyCode !=''">
				and companyCode = #{companyCode}
			</if>
			and deleteFlag='N'
		</where>
	</select>
	<select id="count" resultMap="blackListMapper" parameterType="boolean">
		select count(*) from b_blacklistmanageh
		<where>
			<if test="companyCode!=null and companyCode !=''">
				and companyCode = #{companyCode}
			</if>
			and deleteFlag='N'
		</where>
	</select>


</mapper>